<div id="searchView" class="striped">
    <div id="wrapper">
    </div>
    <ul id="nav">
	<li></li>
	<li class="selected"></li>
	<li></li>
    </ul>
    <div id="searchResult" style="width:100%;">
        <ul class="tableview tableview-links ui-listview">
        </ul>
    </div>
    <div id="prefectTags" style="width:100%;">
        <ul class="tableview tableview-links ui-listview">
        </ul>
    </div>
    <div id="allTags" style="width:100%;">
        <ul class="tableview tableview-links ui-listview">
        </ul>
    </div>
</div>